@media only screen and (max-width: 767px) {
    .container{
        flex-direction: column;
    }
    .childrenLeft{
        height: 50vh !important;
    }

    .childrenLeftContainerUm{
        /* background-color: #f31e1e; */
    }

    .childrenLeftContainerUmchildren{
        height: 12rem !important;
        width: 13rem !important;
    }
    
    .childrenLeftTitle{
        display: none;
    }
    
    .childrenLeftInputs{
        height: 12vh !important;
    }
    
    .childrenLeftButton{
        
    }
    
    .childrenLeftContainerDois{
        /* background-color: #f31e1e; */
    }

    
    .childrenRigth{
        height: 50vh !important;
    }

    .wrap {
        height: 3vh !important;
      }
    .button {
        
    min-width: 50px !important;
    min-height: auto !important;
    }
    button::before {
          min-width: calc(155px + 12px) !important;
          min-height: calc(40px + 12px) !important;
        }

}
.container{
    display: flex;
}

.childrenLeft{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.childrenLeftContainerUm{
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.childrenLeftContainerUmchildren{
    border-radius: 1.5rem;
    box-shadow: 0.1rem 0.1rem 0.2rem 0.1rem #fafafa;
    height: 20rem;
    width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1.5rem;
}

.childrenLeftTitle{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 900;
    color: #00ADB5 ;
    text-align: center;
}

.inputContainer{
    width: auto;
    position: relative;
    padding-bottom: 1.5rem;
}

.label{
    position: absolute;
    left: 0.5rem;
    top: 0.2rem;
    transition: all 0.2s;
    padding: 0 2px;
    z-index: 1;
    color: #030303 ;
    user-select: none;
}

.label::before{
    content: '';
    height: 1px;
    background: #bebebe;
    position: absolute;
    left: 0;
    top: 1.1rem;
    width: 100%;
    z-index: 1;
}

/* 
.childrenLeftInputs{
    height: 15vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
} */

.inputCep{
    padding: 0.3rem;
    width: 95%;
    height: 100%;
    /* border: 2px solid #2f2c45; */
    background: #fafafa;
    border-radius: 5px;
    font-size: 15px;
    outline: none;
    transition: all 0.3s;
    color: #000000;
}

.inputCep:focus{
    border: 1px solid #38f2ff;    
}

.inputCep:focus +.label{
    top: -1.1rem;
    color: #fafafa;
    font-size: 12px;
    text-shadow: 1.5px 2px 3px rgba( 8, 8, 8, 0.493 );
}

.inputCep::placeholder{
    font-size: 12px;
    opacity: 0;
    transition: all 0.3s;
}

.inputCep:focus::placeholder{
    opacity: 1;
}

.inputCep:not(:placeholder-shown) + .label{
    top: -1.1rem;
    color: #38f2ff;
    font-size: 12;
}


.childrenLeftButton{
    align-self: center;
    padding: 0.5rem;
}

.wrap {
    /* height: 100%; */
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .button {
    min-width: 250px;
    min-height: 50px;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
  background: linear-gradient(90deg, rgba(129,230,217,1) 0%, rgba(79,209,197,1) 100%);
    border: none;
    border-radius: 1000px;
    box-shadow: 12px 12px 24px rgba(79,209,197,.64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
    }
  
  button::before {
  content: '';
    border-radius: 1000px;
    min-width: calc(250px + 12px);
    min-height: calc(50px + 12px);
    border: 2px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0,255,203,.64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
  }
  
  .button:hover, .button:focus {
    color: #313133;
    transform: translateY(-6px);
  }
  
  button:hover::before, button:focus::before {
    opacity: 1;
  }
  
  button::after {
    content: '';
    width: 30px; height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
  }
  
  button:hover::after, button:focus::after {
    animation: none;
    display: none;
  }
  
  @keyframes ring {
    0% {
      width: 30px;
      height: 30px;
      opacity: 1;
    }
    100% {
      width: 300px;
      height: 300px;
      opacity: 0;
    }
  }

.containerTable{
    width: 100%;
}
.table{
    width: 100%;
}
.table tr{
    background-color: #fafafa;
    text-align: center;
    font-size: 15px;
}
.table tr td{
    border: solid 1px #31d6a5;
}

.childrenLeftContainerDois{
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}


.childrenRigth{
    background-color: #31d6a5;
    width: 100vw;
    height: 100vh;
}

.mapMaker{
    color: red;
}